:root {
    --amazon:         #376A64;
    --jungleGreen:    #279C86;
    --discordGreen:   #23a559;
    --budGreen:       #6EB65F;
    --green:          #198F24;
    --yellow:         #ffd30d;
    --orange:         #F29C46;
    --uglyRed:        #E7574C;
    --red:            #e22434;
    --amaranthRed:    #c21f1f;
    --japaneseViolet: #4D2F4D;
    --purple:         #603cbd;
    --discordBlue:    #5865F2;
    --darkerBlue:     #134B83;
    --coolBlue:       #2F76DC;
    --black: #141424;
    --white: #F6F6F0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited{
    color: #4183C4;
}

body {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: var(--white);
    background-color: var(--black);
}

.h1Quiz {
    position: absolute;
    top: 10px;
}

h3 {
    margin: 10px;
}

.coolButtonTemplate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 100px;
    border-radius: 8px;
    margin: 24px;
    background-color: var(--darkerBlue);
    cursor: pointer;
    transition: transform 0.5s;
    animation: appearing 0.5s;
}

.divButtonTemplate {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.5s;
    animation: appearingSmall 0.75s;
}
.divButtonTemplate:hover {
    transform: scale(1.05);
}

.startQuizButton:hover {
    transition: transform 0.35s;
    transform: scale(1.125);
}
.startQuizButton.clicked {
    animation: disappearing 0.75s;
}

.divAnswers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 680px;
    margin: 20px;
}

.answers {
    width: 340px;
    height: 180px;
    font-size: x-large;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}
.answers.clicked {
    animation: disappearing 800ms;
}
.answers:hover {
    box-shadow: 0 0 10px #19191d;
}

.answers.a {
    background-color: var(--red);
}
.answers.b {
    background-color: var(--discordBlue);
}
.answers.c {
    background-color: var(--yellow);
}
.answers.d {
    background-color: var(--discordGreen);
}

.answers.true {
    background-color: var(--budGreen);
}

.answers.false {
    background-color: var(--amaranthRed);
}

footer{
    position: absolute;
    bottom: 20px;
}
.credits{
    font-weight: 200;
}

.hide{
    visibility: hidden;
}

@keyframes appearingSmall {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1.005);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes appearing {
    0% {
        transform: scale(0);
    }

    60% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes disappearing {
    0% {
    }
    25%{
        transform: scale(1.125);
    }
    100% {
        transform: scale(0);
    }
}